<div class="container">
  <div class="profile-info">
    <div class="photo"> <img src="assets/images/yeoman.png"> </div>
    <div class="info" >
      <p>Name: {{ $ctrl.thisUser.name }}</p>
      <p>Email: {{ $ctrl.thisUser.email }}</p>
      <p>Age: {{ $ctrl.thisUser.age }}</p>
      <p>Address: {{ $ctrl.thisUser.address }}</p>
    </div>
    <div class="latestNews">
      <p>Latest News</p>

      <div id="listNews" class="container">
        <div class="filter">
          Search: <br><input ng-model="$ctrl.query" />
        </div>
          <div  class="col-lg-12 block">
            <ul ng-repeat="news in $ctrl.latestNews  | filter:$ctrl.query">
              <li>
                <p>{{news.author}}</p>
                {{news.topic}}<br>{{news.text}}<br>{{news.date}}
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
