<div class="container">
  <p>Angular Fullstack v4.2.0 |
    <a href="http://angular-fullstack.github.io/">Documentation</a> |
    <a href="https://gitter.im/DaftMonk/generator-angular-fullstack">Chat on Gitter</a> |
    <a href="https://github.com/angular-fullstack/generator-angular-fullstack/issues?state=open">Issues</a> |
    <a href="https://opencollective.com/angular-fullstack">Donate to our Open Collective</a>
    <a href="../../app/profile/profile.html">Profile</a>
  </p>
</div>
