<form class="form" name="form" ng-submit="vm.addNews(form)" id="newPost">
  <p>Publish Your News</p>
  <input name="title" id="yourNewsTitle" ng-model="vm.user.topic" placeholder="What about your news?">
  <textarea name="news" id="yourPost" class="form-control" placeholder="What's new?" ng-model="vm.user.text"></textarea>
  <button type="submit">Publish It!</button>
</form>
