<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello, Hello!</h1>
    <p class="lead">This is latest news from all our users!</p>
  </div>
</header>
<div class="latestNews">
  <p>All Latest News</p>
  <div id="listNews" class="container">
    <div class="row">
      <div class="col-md-4 filter"><p>Enter name: <br><input type="text" ng-model="author"></p></div>
      <div class="col-md-4 filter"> <p>Enter topic: <br><input type="text" ng-model="topic"></p></div>
      <div class="col-md-4 filter">
        <p> Search: <br><input ng-model="$ctrl.query" /></p>
      </div>
    </div>
    <div class="row">

      <div  class="col-lg-10">
        <ul id="mainList" ng-repeat="news in $ctrl.allNews | filter:$ctrl.query | filter:{author:author} | filter:{topic:topic}">
          <img src="../../assets/images/yeoman.png"/>
          <li>
            <a  ui-sref="otherUserPage({id:news.creator})">
              {{news.author}}</a>
            <br>{{news.topic}}<br>{{news.text}}<br>{{news.date}}</li>
        </ul>

      </div>
    </div>
  </div>
</div>
