.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
.latestNews {
  margin:0 auto;
}
.userpick {
  background-image: url(../../assets/images/yeoman.png);
}
#mainList p{
  text-align: left;
  font-weight: bold;
}
#mainList img{
  display: inline-block;
  background-color: white;
  vertical-align: top;
}
#mainList li{
  display: inline-block;
  height: 89px;
}
.filter {
  margin-bottom: 10px;
  padding: 0;
}
.block {
  width: 100%;
}

