<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.editInfo(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required />
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>
        <div class="form-group">
          <label>Age</label>

          <input type="text" name="age" class="form-control"  ng-model="vm.user.age"/>

        </div>

        <div class="form-group">
          <label>Address</label>

          <input type="text" name="address" class="form-control"  ng-model="vm.user.address"/>

        </div>


        <button type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
