.photo {
  background-color: #5cb85c;
  width: 100px;
  height: 150px;
  vertical-align: top;
}
.profile-info div {
  display: inline-block;
}
.info {
  padding-left:50px;
}

.yourNovelty button {
  display: block;
}
.latestNews {
  /*height: 200px;*/
  margin-top: 20px;
  width: 75%;
  background-color: gainsboro;
}
.latestNews p {
  text-align: center;
  font-size: 15px;
}

#yourPost {
  width:100%;
  height: 30px;
  max-width: 100%;
  max-height: 150px;
  margin-top: 5px;
}
#yourNewsTitle {

  width:200px;
}

#newPost {
  margin:20px auto 0;
  width: 75%;
  background-color: gainsboro ;
}
#newPost p {
  padding-top: 5px;
  text-align: center;
  font-size: 15px;
}
#listNews li {
  background-color: white;
  list-style-type: none;
  width:80%;
}
#listNews {
  width: 100%;
}
#listNews ul {
  padding-left: 0;
}
#listNews li p {
  text-align: left;
  margin-bottom: 0;
  font-weight: bold;
}
.deleteOneNews {
  border: 1px solid black;
  float: right;
}
.deleteOneNews a {
  text-decoration: none;
}
