
<div class="container">
  <div class="profile-info">
    <div class="photo"> <img src="assets/images/yeoman.png"> </div>
    <div class="info" >
      <p>Name: {{ vm.currentUser.name }}</p>
      <p>Email: {{ vm.currentUser.email }}</p>
      <p>Age: {{ vm.currentUser.age }}</p>
      <p>Address: {{ vm.currentUser.address }}</p>
      <button><a ui-sref="infoedit"><span>Edit</span></a></button>
      <button><a ui-sref="settings"><span>Change password</span></a></button>
    </div>
  </div>
  <form class="form" name="form" ng-submit="vm.addNews(form)" id="newPost">
    <p>Publish Your News</p>
    <input name="title" id="yourNewsTitle" ng-model="vm.user.topic" placeholder="What about your news?">
    <input name="tags" id="tag" ng-model="vm.user.tags" placeholder="Enter keywords">
    <textarea name="news" id="yourPost" class="form-control" placeholder="What's new?" ng-model="vm.user.text"></textarea>
    <button type="submit">Publish It!</button>
  </form>
  <div class="latestNews">
    <p>Your Latest News</p>

    <div id="listNews" class="container">
      <div class="filter">
        Search: <br><input ng-model="$ctrl.query" />
      </div>
      <div class="row">
        <div  class="col-lg-12">
          <ul ng-repeat="news in vm.latestNews  | filter:$ctrl.query">
            <li> <div class="deleteOneNews" ng-click="vm.deleteOneNews(news._id)"> <a href="#">Delete It</a> </div>
              <p>{{news.author}}</p>
              {{news.topic}}<br>{{news.text}}<br>{{news.date}}
             </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../date.format.js"></script>
